extends layout

block content
  h1= title
  p Welcome to #{title}

  ul#messages
  div#keys

  script(src="/js/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/events.js")
  script(src="/js/sound.js")
